body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game{
    text-align: center;
}

.quadro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    background-color: #444;
    padding: 5px;
}

.celula {
    background-color: #ccc;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

#turn-indicator {
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
